@import '~antd/dist/antd.dark.css';

.site-layout-background {
  background: rgba(28, 27, 27, 0.769);
  height: 90vh;
}

.site-top-game-list ul {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}